@model Controle_de_jogo.Models.Acesso

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar acesso</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Cadastrar acesso</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p class = "control-label col-md-2">Login/E-mail</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <p class = "control-label col-md-2">Senha</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SENHA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SENHA, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <p class = "control-label col-md-2">Nome</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cadastrar acesso" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</body>
</html>
